name: Go Linting
on:
  pull_request:
    branches:
      - main
permissions:
  contents: read
  # Optional: allow read access to pull requests. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version-file: ./backend/go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --config .golangci.yml
          working-directory: ./backend