name: Next Lint & Typecheck
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: "./frontend/package.json"
          cache-dependency-path: "./frontend/package-lock.json"
          cache: "npm"

      - name: Lint check
        run: npx eslint .

      - name: Type check
        run: npx tsc --noEmit
